label{font-weight:bold;}
#btn{margin-bottom:4%;}
#container{margin-top:2%;margin-left:0%;height:40%;}
#para{text-align:center;font-family:Comic Sans MS;margin-top:2%;font-weight:bold;}
 h1{font-family:Comic Sans MS;color:white;}
